@model IEnumerable<Jewelry_Store_e.a.Models.Shipment>

@{
    ViewData["Title"] = "AjaxAsync";
}

<h2>AjaxAsync</h2>

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type='text/javascript' src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script type='text/javascript' src="js/location.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=NewMap' async defer></script>

    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>



</head>
<body>
    <div id="myMap" style="position:relative;width:600px;height:400px;"></div>
</body>
</html>