@model IEnumerable<Jewelry_Store_e.a.Models.Shipment>

@{
    ViewData["Title"] = "AjaxAsync";
}
<canvas id="clogo" width="200px" height="100px"></canvas>
<h5>Your welcome to pick every shipment address and we will bring the product all the way to you</h5>

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type='text/javascript' src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script type='text/javascript' src="~/js/location.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>


</head>
<body>
    <div id="myMap" style="position:relative;width:600px;height:400px;"></div>
</body>
</html>
<script>
    var canvas = $("#clogo")[0];
    var ctx = canvas.getContext("2d");

    // Create gradient
    var grd = ctx.createLinearGradient(0, 0, 100, 100);
    grd.addColorStop(0, "#cccccc");
    grd.addColorStop(0.5, "#cccccc");
    grd.addColorStop(1, "white");


    // Fill with gradient
    ctx.fillStyle = grd;
    ctx.fillRect(0, 0, 300, 100);

    ctx.font = "16px Arial";
    ctx.strokeText("Shipments address", 12, 52);
</script>
