@model IEnumerable<Jewelry_Store_e.a.Models.Product>
@{
    ViewData["Title"] = "Home";
}
<br />
<h1>Welcome</h1>
<hr />
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="w3-content" style="max-width:1200px">

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <p>Video to use:</p>
    <video id="video1" width="270" controls/autoplay>
        <source src="~/images/video.mp4" type='video/mp4'>
        <source src="~/images/video.oog" type='video/ogg'>
        <source src="~/images/‏‏video.webm" type='video/webm'>
    </video>

    <p>Canvas (the code draws the current frame of the video every 20 millisecond):</p>
    <canvas id="myCanvas" width="270" height="135" style="border:1px solid #d3d3d3;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>

    <script>
        var v = document.getElementById("video1");
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        var i;

        v.addEventListener("play", function () { i = window.setInterval(function () { ctx.drawImage(v, 5, 5, 260, 125) }, 20); }, false);
        v.addEventListener("pause", function () { window.clearInterval(i); }, false);
        v.addEventListener("ended", function () { clearInterval(i); }, false);
    </script>

    <p>
        <strong>Note:</strong> The canvas tag is not supported in Internet
        Explorer 8 and earlier versions.
    </p>

</body>
</html>

