@model IEnumerable<Jewelry_Store_e.a.Models.Product>
@{
    ViewData["Title"] = "Home";
}

<head>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .fa {
     
        font-size: 30px;

   
    }

        /* Add a hover effect if you want */
        .fa:hover {
            opacity: 0.7;
        }

    /* Set a specific color for each brand */

    /* Facebook */
    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }
    aside {
        width: 50%;
        margin-top:-500px;
        margin-right: 70px;
        float: right;
        box-shadow: inset 5px 0 5px -5px #29627e;
        font-style: italic;
        color: #29627e;
    }
</style>
<br />
<hr />
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <div class="w3-display-container w3-container">
        <img src="~/images/stars and moon necklace.jpg" alt="Jeans" style="width:800px;height:330px">
        <div class="w3-display-topleft w3-text-white" style="padding:30px 90px">
            <h1 class="w3-jumbo w3-hide-small">e.a Jewelry</h1>
            <h1 class="w3-hide-small">COLLECTION 2018</h1>
        </div>
    </div>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>
    <h4> This Video was choosen specially for you:</h4>
    <video id="video4" width="400" height="500" controls="controls" autoplay muted loop="loop" preload='metadata'>
        <source src="~/video/@ViewBag.MyString" type='video/mp4'>
    </video>
    <br />
    <aside>
        <h4>Please Recommend Our Site On Facebook</h4>
        <button class="" onclick="post()"><a href="" class="fa fa-facebook"> Share</a></button>
    </aside>


</body>
</html>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '512797479511618',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v4.0'
        });
    }

    function post() {
        FB.ui(
            {
                method: 'share',
                href: 'http://eajewlery.com',
                message: '',
                quote: 'Jewelry Site With The Best Prices'
            },
            function (response) {
                if (response && !response.error_message) {
                    alert('posting completed')
                } else {
                    alert('error')
                }
            }
        );


    }
</script>
